body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3498db;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #16a085;
  transition: all 500ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #16a085;
  width: 8px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.myNavBar {
    background-image: linear-gradient(to right, #3498db , #16a085);
}

*{
  font-family: "Titillium Web";
}

.logo_img {
  width: 100px;
}

.rgba-my_overLay { 
  background-color: rgba(0, 0, 0, 0.5)
}

.contactMeContainer{
  padding-bottom: 3%
}

.btn-send {
  background-image: linear-gradient(to right, #3498db , #16a085);
  color: #fff;
  border-radius: 10px;
}

.btn:hover {
  color: #cecece;
  text-decoration: none;
}

.md-form input[type=text]:focus:not([readonly]), .md-form input[type=password]:focus:not([readonly]), .md-form input[type=email]:focus:not([readonly]), .md-form input[type=url]:focus:not([readonly]), .md-form input[type=time]:focus:not([readonly]), .md-form input[type=date]:focus:not([readonly]), .md-form input[type=datetime-local]:focus:not([readonly]), .md-form input[type=tel]:focus:not([readonly]), .md-form input[type=number]:focus:not([readonly]), .md-form input[type=search-md]:focus:not([readonly]), .md-form input[type=search]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]) {
    box-shadow: 0 1px 0 0 #3498db;
    border-bottom: 1px solid #3498db;
    border-right: 1px solid #3498db;
}

.md-form input[type=text]:focus:not([readonly]) + label, .md-form input[type=password]:focus:not([readonly]) + label, .md-form input[type=email]:focus:not([readonly]) + label, .md-form input[type=url]:focus:not([readonly]) + label, .md-form input[type=time]:focus:not([readonly]) + label, .md-form input[type=date]:focus:not([readonly]) + label, .md-form input[type=datetime-local]:focus:not([readonly]) + label, .md-form input[type=tel]:focus:not([readonly]) + label, .md-form input[type=number]:focus:not([readonly]) + label, .md-form input[type=search-md]:focus:not([readonly]) + label, .md-form input[type=search]:focus:not([readonly]) + label, .md-form textarea.md-textarea:focus:not([readonly]) + label {
    color: #3498db;
}

.md-form textarea ~ label.active {
    color: #3498db;
}

a{
  color: #3498db;
}

.view img, .view video {
    margin: auto;
    width: 55%;
}

a.testimonialLink {
    color: #3498db;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    text-decoration: none;
}

a.testimonialLink:hover{
  color: #19a08c;
}

a.testimonialLink:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #19a08c;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a.testimonialLink:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.projectImg {
  width : 100% !important;
}

.projectVideo {
  width : 100% !important;
  border-radius: 15px;
}

.projectPlayIcon {
    position: absolute;
    z-index: 3;
    top: 15px;
    left: 15px;
    font-size: 45px;
    color: #ffffff;
}

.blankP {
  position: absolute;
}

.projectCol {
  transition: all 1500ms;
  padding: 0;
}
.projectCol:hover {
  transform: scale(1.15);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  z-index: 5;
}
.cvBtn{
  transition: all 500ms;
  border-radius: 10px;
}
.cvBtn:hover {
  background-image: linear-gradient(to right, #3498db , #16a085);
  color: #fff;
}

/*mouse icon*/
.icon-scroll {
	position: absolute;
  bottom : 5%;
	left: 50%;
  width: 1em;
	height: 3.125em;
	transform: translateX(-50%) scale(2);
	z-index: 99999;
}
.icon-scroll span {
	animation-delay: .2s;
}
.icon-scroll .mouse {
	height: 1.375em;
	width: .875em;
	border: 1px solid rgba(255,255,255,.8);
	border-radius: 2em;
}

.icon-scroll .wheel {
  position: relative;
  display: block;
  height: 0.1875em;
  width: 0.1875em;
  margin: 0.1875em auto 0;
  background: rgba(255,255,255,.8);
  animation: mouse-wheel 1.2s ease infinite;
  border-radius: 50%;
}

@keyframes mouse-wheel {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(.375em);
	}
}

@keyframes mouse-scroll {
	0%   { opacity: 0; }
	50%  { opacity: .5; }
	100% { opacity: 1; }
}
/* mouse icon*/

/*——————————————
TimeLine CSS
———————————————*/
/* Base */

#content {
  margin-top: 50px;
  text-align: center;
}

section.timeline-outer {
  width: 80%;
  margin: 0 auto;
}

h1.header {
  font-size: 50px;
  line-height: 70px;
}
/* Timeline */

.timeline {
  border-left: 8px solid #42A5F5;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #333;
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  padding: 20px;
  list-style: none;
  text-align: left;
}

.timeline h1,
.timeline h2,
.timeline h3 {
  font-size: 1.4em;
  font-weight: 700;
  text-align: center;
  color: #42A5F5
}

.timeline .event {
  border-bottom: 2px solid #16a085;
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -177.5px;
  color: #212121;
  content: attr(data-date);
  text-align: right;
  /*  font-weight: 100;*/
  
  font-size: 16px;
  min-width: 120px;
}

.timeline .event:after {
  box-shadow: 0 0 0 8px #42A5F5;
  left: -30px;
  background: white;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}
/**/
/*——————————————
Responsive Stuff
———————————————*/

@media (max-width: 945px) {
  .timeline .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px;
  }
  .timeline h3 {
    font-size: 16px;
  }
  .timeline p {
    padding-top: 20px;
  }
  section.lab h3.card-title {
    padding: 5px;
    font-size: 16px
  }
}

@media (max-width: 768px) {
  .timeline .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px;
  }
  .timeline .event:nth-child(1)::before,
  .timeline .event:nth-child(3)::before,
  .timeline .event:nth-child(5)::before {
    top: 38px;
  }
  .timeline h3 {
    font-size: 16px;
  }
  .timeline p {
    padding-top: 20px;
  }
}
/*——————————————
others
———————————————*/

a.portfolio-link {
  margin: 0 auto;
  display: block;
  text-align: center;
}